# Assignment 1
----

Name : `<Your name here>`
    
email :  `<Your email here> `

# Instructions
----

The purpose of this assignment is for students to utilize, pandas, numpy, matplotlib, and scikit-learn to perform data analysis on a multi-agent swarm dataset.

You are **not** allowed to rename any functions or modify the number of input parameters. **Failure to follow instructions will result in a 0 for the question.**

### Any scratch work (testing, debugging, etc.) can be done at the bottom under the `Scratch` section or in other files.

# Rubric
----

Every step is worth 1 point. If the solution produced is correct, the student will receive 1 point. If the solution is incorrect, the student will receive 0

### Please keep your code and the expeccted output next to each other. If the two cells are **not** adjacent, you will receive a 0 for the question being asked.

In [9]:
# Note: You do NOT need to add any packages. Everything you need is already installed in this notebook. Modifying these imports will result in a 0. 
import numpy as np
import pandas as pd

In [2]:
# Make sure to run this cell. The ! runs a terminal command and grabst he dataset we are using from UCI
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00524/Swarm%20Behavior%20Data.zip

In [3]:
# Make sure to run this cell. This unzips the dataset into assignment_2 directory (or wherever you started this notebook from)
!unzip Swarm\ Behavior\ Data.zip

In [4]:
# rename directory (this is done since there are spaces in the name)
!mv Swarm\ Behavior\ Data swarm_behavior_data

In [21]:
# TODO Print the files in the swarm_behavior_data directory as a list (hint: module is provided in cell)
import os

expected output: `['Grouped.csv', 'Flocking.csv', 'Aligned.csv']`

In [6]:
# TODO Load the Aligned.csv file into a dataframe and print the rows, columns as a tuple

expected output: `(24016, 2401)`

In [22]:
# TODO Print the first two rows of the dataframe in the following format.

expected output:
```
x1	y1	xVel1	yVel1	xA1	yA1	xS1	yS1	xC1	yC1	...	yVel200	xA200	yA200	xS200	yS200	xC200	yC200	nAC200	nS200	Class
----------------------------------------------------------------------------------------------------------------------------------------------------------------------
0	-1414.14	-535.22	-17.88	-7.23	0.0	0.0	0.0	0.0	0.0	0.0	...	-16.85	0.0	0.0	0.0	0.0	0.0	0.0	29	0	0
1	-1412.93	597.54	-13.55	-5.48	0.0	0.0	0.0	0.0	0.0	0.0	...	-12.09	0.0	0.0	0.0	0.0	0.0	0.0	44	0	0```

In [23]:
# TODO print the column names and the column types from the dataframe

expected output:

```
x1        float64
y1        float64
xVel1     float64
yVel1     float64
xA1       float64
           ...   
xC200     float64
yC200     float64
nAC200      int64
nS200       int64
Class       int64
Length: 2401, dtype: object```

In [25]:
# TODO check if dataframe has any non numeric columns and return the column names as a list

expected output : `[]`

In [26]:
# TODO Jupyter / Pandas by default limits the number of rows and columns shown. Modify the setting to show all COLUMNS on output, but do NOT modify the row limits.

No output expected

In [4]:
# TODO Print a table from the dataframe that provides the following information

**NOTE** This is just two columns, you need to produce all of them. 

```	
        x1	         y1
-----------------------------------
count	24016.000000	24016.000000
mean	108.310513	-73.077114
std	842.175333	572.552115
min	-1414.140000	-1012.180000
25%	-539.662500	-609.352500
50%	156.085000	-156.685000
75%	898.112500	424.445000
max	1406.080000	1015.800000
```

In [6]:
# TODO Get min / max values for X1 and print them as a tuple

expected output: `(-1414.14, 1406.08)`

In [2]:
# TODO create box-whisker plot for x1 variable

expected output: picture included in repo

In [3]:
# TODO get the 50th record (recall indices start at 0)

expected output:

```
x1       -1396.76
y1        -350.66
xVel1       -8.25
yVel1        0.17
xA1         -0.56
           ...   
xC200        0.16
yC200       -0.28
nAC200      70.00
nS200        0.00
Class        1.00
Name: 49, Length: 2401, dtype: float64
```

In [16]:
# TODO there is one column that starts with an uppercase letter. Change this to lowercase and rename the column "target"

no expected output

In [5]:
# TODO print the first two records of the pandas dataframe

expected output should look similar (but not identical):

```
x1	y1	xVel1	yVel1	xA1	yA1	xS1	yS1	xC1	yC1	...	yVel200	xA200	yA200	xS200	yS200	xC200	yC200	nAC200	nS200	Class
----------------------------------------------------------------------------------------------------------------------------------------------------------------------
0	-1414.14	-535.22	-17.88	-7.23	0.0	0.0	0.0	0.0	0.0	0.0	...	-16.85	0.0	0.0	0.0	0.0	0.0	0.0	29	0	0
1	-1412.93	597.54	-13.55	-5.48	0.0	0.0	0.0	0.0	0.0	0.0	...	-12.09	0.0	0.0	0.0	0.0	0.0	0.0	44	0	0```
```

In [8]:
# TODO The variable that was renamed "target" is a common phrase used in machine learning. Target usually refers to the item that we are trying to predict. In this case, we want to predict distinct, discrete numbers or "classes". How many classes are there?

expected output: `2`

In [11]:
# TODO get the number of counts for each target value

expected output: 

```
0    16511
1     7505
Name: target, dtype: int64
```

In [12]:
# TODO create a bar chart / histogram showing "target" counts

expected output: image included in repo

In [13]:
# TODO Look at how many x<number> y<number> pairs there are. Get **only** the columns that match this criteria. You do **not** need to print the values. Just the columns. Store these in a list. How many are there?

expected output: 400

In [14]:
# TODO group only those columns from the dataframe and grap only the first row

expected_output: 

```

x1	y1	x2	y2	x3	y3	x4	y4	x5	y5	...	x196	y196	x197	y197	x198	y198	x199	y199	x200	y200
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
0	-1414.14	-535.22	-589.94	-109.41	830.02	812.11	-1027.76	654.1	-256.45	-841.21	...	-978.62	505.22	-741.23	320.04	1339.3	-473.61	687.57	-20.78	-971.96	-810.85
```

In [18]:
# TODO the dataframe (table) is still quite long. Instead of having each x,y have its own column, lets put every x and y in two columns. Make sure to keep the x<number>, y<number> pairs aligned on their respective row
# HINT: you may want to store each pair into a dictionary with the keys names x, y and put these dictionaries into a list 
# e.g. result_list[{'x':x1_val}, 'y':y1_val}, ...]
# from there you can call pd.DataFrame(result_list) to turn it into a dataframe

expected output: 

```
x	y
-------------------------
0	-1414.14	-535.22
1	-589.94	-109.41
2	830.02	812.11
3	-1027.76	654.10
4	-256.45	-841.21
...	...	...
195	-978.62	505.22
196	-741.23	320.04
197	1339.30	-473.61
198	687.57	-20.78
199	-971.96	-810.85
200 rows Ã— 2 columns
```

In [19]:
# TODO Create a scatter plot of this data

expected output: image in repo

In [ ]:
# TODO grab the first target where targets value is 1 and lets do the same thing

expected output: image in repo data should appear aligned

In [20]:
# TODO check to see if any values are null

In [ ]:
expected output: False

In [30]:
# TODO using scikit-learn create a training set and a testing set with your dataframe. Make sure to set the random sate to 50. 
# Create a test_size of 20 percent. 
from sklearn.model_selection import train_test_split

no output shown

In [31]:
# TODO Create and train a random forest classifier model and get an accuracy better than 94 on your test set. Set random state = 15
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import plot_confusion_matrix

RandomForestClassifier(max_depth=3, n_jobs=-1, random_state=15)

In [ ]:
# TODO Print a classification report

expected output:

```
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3278
           1       1.00      1.00      1.00      1526

    accuracy                           1.00      4804
   macro avg       1.00      1.00      1.00      4804
weighted avg       1.00      1.00      1.00      4804
```

In [ ]:
# TODO creaete a binary confusion matrix

expected output: similar image in repo

In [39]:
# TODO Load the all csv files from the swarm_behavior_data folder into three different data frames and print their size

expected output:

```
(24016, 2401)
(24016, 2401)
(24016, 2401)
```

In [40]:
# TODO shape changed Issue is with additional space after "Class" column in flocking. Fix and retry

no output expected

In [42]:
# TODO we did a binary machine learning problem above. Now that's lets do a multiclass. In order to do this we need to change the class values. 
# We will do this as follows:
# No changes for the aligned file
# When Class = 1 in Flocking, change the value to 2 and keep 0 the same
# When Class = 1 in Group, change the value to 3 and keep 0 the same

no output expected

In [43]:
# TODO concat all three dataframes together to make a new dataframe called df_total and print the shape as a tuple

expected output: `(72048, 2401)`

In [45]:
# TODO rename Class to target in the new dataframe

no expected output

In [24]:
# TODO using scikit-learn create a training set and a testing set with your dataframe. Make sure to set the random sate to 50. 
# Create a test_size of 20 percent. You must have an accuracy higher than 94% set the random state in the random forest to 15

expected output (similar):

```
              precision    recall  f1-score   support

           0       0.94      1.00      0.97      8723
           1       1.00      0.63      0.77      1497
           2       1.00      1.00      1.00      2397
           3       1.00      1.00      1.00      1793

    accuracy                           0.96     14410
   macro avg       0.99      0.91      0.94     14410
weighted avg       0.96      0.96      0.96     14410
```

In [25]:
# TODO print the multiclass confusion matrix

expected result: image in repo contains multiclass confusion

In [26]:
# Bonus print out the features and their importance for your random forest model

# Scratch
-----

Scratch work under here is permitted